{% extends "base.html" %}
{% block content %}
{% for post in posts %}
<div class="card my-4" style="width: 18rem;">
    {% if post.image %}
    <img src="{{post.image.url}}" class="card-img-top" alt="post-img">
    {%endif%}
    <div class="card-body">
        <h5 class="card-title">{{post.status}}</h5>
        <!-- <p class="card-text">{{post.status}}</p> -->

    </div>
    <form>
        {% csrf_token %}
        {{comment_form}}
        <button class="btn btn-primary">Comment</button>
    </form>
</div>
{%endfor%}
{% endblock %}