{% extends "base.html" %}

{% block content %}
{% if message %}
<span style="text-align: center; color: red;">{{message}}</span>
{% endif %}

{% for profile in object_list  %}
<div class="d-flex flex-start p-2 ms-4">
    <img class="rounded-circle shadow-1-strong me-3" src="{{profile.profile_pic.url}}" alt="avatar" width="80"
        height="80" />
    <div>
        <a href="{% url 'profiles:profile-detail' profile.id %}" style="text-decoration: none; color: black;">
            <h6 class="fw-bold mb-1 mt-4">{{profile.user.username}}</h6>
        </a>
        <a class="btn btn-secondary" href="{% url 'profiles:profile-detail' profile.id %}" role="button">View
            Profile</a>
        {% if profile.user not in receiver and profile.user not in sender %}
        <a class="btn btn-primary" href="{% url 'profiles:add-friend' profile.id%}" role="button">Add Friend</a>
        {% endif %}
        {% if profile.user in receiver and request.user not in profile.friends.all %}
        <a class="btn btn-outline-danger" href="{% url 'profiles:cancel-request' profile.id%}" role="button">Cancel
            Request</a>
        {% endif %}

        {% if request.user in profile.friends.all %}
        <a class="btn btn-danger" href="{% url 'profiles:remove-friend' profile.id%}" role="button">Remove Friend</a>
        <a class="btn btn-primary" href="{% url 'chat:message'%}" role="button">Message</a>
        {% endif %}

    </div>
</div>
{% endfor %}
{% endblock %}