{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <div class="col-lg-8 border border-primary">
        <section>
            <div class="container my-3 py-2">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                            <div class="card-body p-4">
                                <h4 class="mb-0">Recent Posts</h4>
                                <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                                {% for post in posts %}
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        src="{{post.author.profile_pic.url}}" alt="avatar" width="60" height="60" />
                                    <div>
                                        <h6 class="fw-bold mb-1">{{post.author.user.username}}</h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0">
                                                {{post.updated}}
                                            </p>
                                            <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                            <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                            <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                        </div>
                                        <p class="mb-0">
                                            {{post.content}}
                                        </p>
                                        <img src="{{post.image.url}}" alt="post image" width="200" />
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <hr class="my-0" style="height: 1px;" />
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <div class="col-lg-4">
        <h3>Add New Post</h3>
        <form>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary">Add New Post</button>
        </form>
    </div>

</div>

{% endblock content %}