{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}

<div class="row">
    <div class="col-lg-8 border border-primary">
        <section>
            <div class="container my-3 py-2">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="card text-dark">
                            <div class="card-body p-4">
                                <h4 class="mb-0">Recent Posts</h4>
                                <p class="fw-light mb-4 pb-2">Latest Posts section by users</p>
                                {% for post in posts %}
                                <div class="d-flex flex-start p-2">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        src="{{post.author.profile_pic.url}}" alt="avatar" width="60" height="60" />
                                    <div>
                                        <h6 class="fw-bold mb-1">{{post.author.user.username}}</h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0">
                                                {{post.updated | timesince}} ago
                                            </p>
                                            {% if request.user == post.author.user%}
                                            <div class="ms-5">
                                                <a href="{% url 'posts:delete-post' post.id %}"
                                                    class="btn btn-danger btn-sm ms-5" role="button"
                                                    aria-disabled="true">Delete</a>
                                                <a href="{% url 'posts:update-post' post.id %}"
                                                    class="btn btn-secondary btn-sm ms-5" role="button"
                                                    aria-disabled="true">Update</a>

                                            </div>
                                            {% endif %}
                                        </div>

                                        <p class="mb-0">
                                            {{post.content}}
                                        </p>
                                        {% if post.image %}
                                        <img src="{{post.image.url}}" alt="post image" width="200" height="200" />
                                        {% endif %}
                                    </div>

                                </div>


                                <p> Comments ({{post.get_comments_count}}) </p>


                                <form method="post" action="{% url 'posts:new-post'%}">
                                    {% csrf_token %}
                                    {% bootstrap_form c_form %}
                                    <button class="btn btn-primary">comment</button>
                                </form>
                                {% endfor %}
                            </div>


                            <hr class="my-0" style="height: 1px;" />
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <div class="col-lg-4 my-3">
        <h3>Add New Post</h3>
        <hr />
        <form method="post" action="{% url 'posts:new-post'%}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form post_form %}
            <button class="btn btn-primary">Add New Post</button>
        </form>
    </div>

</div>

{% endblock content %}