{% load static %}

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage'%}">
            <img src="{% static 'images/social-connect.png'%}" alt="Social Connect" width="90" height="90">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <div class="d-flex">
                {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'profiles:profile'%}">
                    <img src="{{profile.profile_pic.url}}" alt="{{request.user.username}}" width="30"
                        class="rounded-pill">
                    <span>{{request.user.username}}</span>
                </a>
                <a href="{% url 'profiles:logout'%}" class="btn btn-danger ms-5" role="button"
                    aria-disabled="true">Logout</a>
                {%else%}
                <a href="{% url 'profiles:login'%}" class="btn btn-primary me-4" role="button"
                    aria-disabled="true">Login</a>
                {%endif%}
            </div>
        </div>
    </div>
</nav>